<div>
  <div>
    <h1>
      Game #<%= @the_game.id %> details
    </h1>

    <div>
      <div>
        <a href="/games">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_game/<%= @the_game.id %>">
          Delete game
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @the_game.image %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_game.title %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @the_game.genre %>
      </dd>

      <dt>
        Complexity
      </dt>
      <dd>
        <%= @the_game.complexity %>
      </dd>

      <dt>
        Randomness
      </dt>
      <dd>
        <%= @the_game.randomness %>
      </dd>

      <dt>
        Min players
      </dt>
      <dd>
        <%= @the_game.min_players %>
      </dd>

      <dt>
        Max players
      </dt>
      <dd>
        <%= @the_game.max_players %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @the_game.duration %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @the_game.rating %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <%= @the_game.website %>
      </dd>

      <dt>
        Events count
      </dt>
      <dd>
        <%= @the_game.events_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit game
    </h2>

    <form action="/modify_game/<%= @the_game.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_game.image %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_game.title %>">
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre" value="<%= @the_game.genre %>">
      </div>

      <div>
        <label for="complexity_box">
          Complexity
        </label>

        <input type="text" id="complexity_box" name="query_complexity" value="<%= @the_game.complexity %>">
      </div>

      <div>
        <label for="randomness_box">
          Randomness
        </label>

        <input type="text" id="randomness_box" name="query_randomness" value="<%= @the_game.randomness %>">
      </div>

      <div>
        <label for="min_players_box">
          Min players
        </label>

        <input type="text" id="min_players_box" name="query_min_players" value="<%= @the_game.min_players %>">
      </div>

      <div>
        <label for="max_players_box">
          Max players
        </label>

        <input type="text" id="max_players_box" name="query_max_players" value="<%= @the_game.max_players %>">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration" value="<%= @the_game.duration %>">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating" value="<%= @the_game.rating %>">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_game.website %>">
      </div>

      <div>
        <label for="events_count_box">
          Events count
        </label>

        <input type="text" id="events_count_box" name="query_events_count" value="<%= @the_game.events_count %>">
      </div>

      <button>
        Update game
      </button>
    </form>
  </div>
</div>

<hr>
