<div>
  <div>
    <h1>
      Event registration #<%= @the_event_registration.id %> details
    </h1>

    <div>
      <div>
        <a href="/event_registrations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event_registration/<%= @the_event_registration.id %>">
          Delete event registration
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_event_registration.user_id %>
      </dd>

      <dt>
        Event
      </dt>
      <dd>
        <%= @the_event_registration.event_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event_registration.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event_registration.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event registration
    </h2>

    <form action="/modify_event_registration/<%= @the_event_registration.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_event_registration.user_id %>">
      </div>

      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id" value="<%= @the_event_registration.event_id %>">
      </div>

      <button>
        Update event registration
      </button>
    </form>
  </div>
</div>

<hr>
